{% extends "advertisements/base.html" %}
{% load bootstrap3 %}

{% block content %}



    <h1>{{ category.title }}</h1>


    <div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><a href="?price=high">high price</a></button>
  <button type="button" class="btn btn-default"><a href="?price=low">low price</a></button>
  <button type="button" class="btn btn-default"><a href="?modified=new">newest</a></button>
    <button type="button" class="btn btn-default"><a href="?modified=old">oldest</a></button>
    </div>

    <br>
    <br>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><a href="?view=list">list</a></button>
        <button type="button" class="btn btn-default"><a href="?view=thumb">thumb</a></button>
        <button type="button" class="btn btn-default"><a href="?view=gallery">gallery</a></button>
    </div>
<br>
    <br>
<div class="list-group">
    {% for ad in advertisements %}


        {% if view == "thumb" or view == "gallery" %}
            <li  class="list-group-item">
            {% if ad.image and view == "thumb" %}
                <img src="{{ ad.image.url }}" height="100" width="100">
            {% elif ad.image and view == "gallery" %}
                <img src="{{ ad.image.url }}" height="400" width="400">
            {% endif %}
            {{ ad.display_date }}
            <a href="{% url 'advertisement_detail' ad.id %}"> {{ ad.title }}</a>
            {% if ad.price %}
                ${{ ad.price }}
            {% endif %}
             {{ ad.city }}
                <br>
            </li>

        {% else %}
            <li  class="list-group-item">
            {{ ad.display_date }}
            <a href="{% url 'advertisement_detail' ad.id %}"> {{ ad.title }}</a>
            {% if ad.price %}
                ${{ ad.price }}
            {% endif %}
             {{ ad.city }}
                <br>
            </li>

        {% endif %}



    {% endfor %}

</div>
{% endblock %}
