{% extends "advertisements/base.html" %}
{% load bootstrap3 %}

{% block content %}

    <h1>{{ category.title }}</h1>


    <div class="btn-group" role="group">
  <a href="?price=high"><button type="button" class="btn btn-default">high price</button></a>
  <a href="?price=low"><button type="button" class="btn btn-default">low price</button></a>
  <a href="?modified=new"><button type="button" class="btn btn-default">newest</button></a>
    <a href="?modified=old"><button type="button" class="btn btn-default">oldest</button></a>
    </div>
    <br>
    <br>

    <div class="btn-group" role="group">
        <a href="?view=list"><button type="button" class="btn btn-default">list</button></a>
        <a href="?view=thumb"><button type="button" class="btn btn-default">thumb</button></a>
        <a href="?view=gallery"><button type="button" class="btn btn-default">gallery</button></a>
    </div>
<br>
    <br>
<div class="list-group">
    {% for ad in advertisements %}


        {% if view == "thumb" or view == "gallery" %}
            <li  class="list-group-item">
            {% if ad.image and view == "thumb" %}
                <img src="{{ ad.image.url }}" height="100" width="100">
            {% elif ad.image and view == "gallery" %}
               <div> <img src="{{ ad.image.url }}" height="400" width="400"></div>
            {% endif %}
            {{ ad.display_date }}
            <a href="{% url 'ads:advertisement_detail' ad.id %}"> {{ ad.title }}</a>
            {% if ad.price %}
                ${{ ad.price }}
            {% endif %}
             {{ ad.city }}
                <br>
            </li>

        {% else %}
            <li  class="list-group-item">
            {{ ad.display_date }}
            <a href="{% url 'ads:advertisement_detail' ad.id %}"> {{ ad.title }}</a>
            {% if ad.price %}
                ${{ ad.price }}
            {% endif %}
             {{ ad.city }}
                <br>
            </li>

        {% endif %}



    {% endfor %}

</div>
    {% bootstrap_pagination page_obj %}
{% endblock %}
