{% extends "advertisements/base.html" %}
{% block content%}

    <h3><a href="{% url 'register' %}">Register</a> </h3>
    <h4><a href="{% url 'login' %}">Login</a> </h4>
<ul>
{% for category in categories %}
    <li><h1><a href="{% url 'category_list' category.0.id %}"> {{ category.0 }}</a></h1>
    <ul>
        {% for sub in category.1 %}
            <li><a href="{% url 'subcategory_list' sub.id %}"> {{ sub.title }}</a></li>
        {% endfor %}
    </ul>
    </li>

{% endfor %}
</ul>

{% endblock %}
