{% extends "advertisements/base.html" %}
{% load bootstrap3 %}

{% block title %}Bookmark List{% endblock %}

{% block content %}
<h1>{{ profiled_user.username }}</h1>
<h5>User Auth Token: {{ token }}</h5>
    {% if user_match %}
        <a href="?token=new"><button type="button" class="btn btn-default">New Auth Token</button></a>
    {% endif %}
<ul>
{% for ad in advertisements %}
    <br>
    <li  class="list-group-item">
        {{ ad.display_date }}
        <a href="{% url 'advertisement_detail' ad.id %}"> {{ ad.title }}</a>
        {% if ad.price %}
            ${{ ad.price }}
        {% endif %}
         {{ ad.city }}
            <br>
    </li>
    {% if user_match %}
        <li><a href="{% url 'advertisement_update' ad.id %}"> update</a></li>
        <li><a href="{% url 'advertisement_delete' ad.id %}">delete</a> </li>
    {% endif %}
{% endfor %}
</ul>


{% endblock %}